# editors
.vscode
.idea

# non git-controlled code and tools
/tools/downloaded
/third-party/*
!/third-party/.gitkeep

# build related directories
/build
target
zig-out
zig-build
/mkmf.log

# secrets
/.env

# py
__pycache__
.pytest_cache
.mypy_cache
.ruff_cache
.coverage*

# apple
.DS_Store
.AppleDouble
.LSOverride

# perf
perf.data*
